.rf-grid {
  display: grid;
  gap: var(--rf-grid-gutter);
  grid-template-columns: repeat(var(--rf-grid-column-mobile), minmax(0, 1fr));
}

@media (min-width: 768px) {
  .rf-grid {
    grid-template-columns: repeat(var(--rf-grid-column-tablet), minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .rf-grid {
    grid-template-columns: repeat(var(--rf-grid-column-desktop), minmax(0, 1fr));
  }
}
